#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>

&sk {
    release-after-ms = <1500>;
    quick-release;
    /delete-property/ ignore-modifiers;
};
&lt {
    quick-tap-ms = <200>;
};

/ {
    macros {
        ht: hold-tap {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD-TAP";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick_tap_ms = <200>;
            global-quick-tap;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
        rmt: right-mod-tap {
            compatible = "zmk,behavior-hold-tap";
            label = "RIGHT-MOD-TAP";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <150>;
            quick_tap_ms = <200>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };
        lmt: left-mod-tap {
            compatible = "zmk,behavior-hold-tap";
            label = "LEFT-MOD-TAP";
            #binding-cells = <2>;
            tapping-term-ms = <120>;
            quick_tap_ms = <200>;
            flavor = "balanced";
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };
        lst: layer-sticky-tap {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER-STICKY-TAP";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick_tap_ms = <100>;
            global-quick-tap;
            flavor = "tap-preferred"; 
            bindings = <&mo>, <&sk>;
        };
        ltd: lst-plus-tap-dance {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_MY";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings =
                <&sk LSHFT>,
                <&kp CAPS>;
        };
    };
    
    keymap {
        compatible = "zmk,keymap";
        
        alpha {
            bindings = <
                // ╭───────────────┬──────────────────┬────────────────┬──────────────┬──────────────╮     ╭──────────────┬──────────────┬────────────────┬───────────────┬──────────────╮
                    &ht LG(N1) SQT  &ht LG(N2) COMMA    &ht LG(N3) DOT  &ht LG(N4) P    &ht LG(N5) Y        &ht LG(N6) F   &ht LG(N7) G   &ht LG(N8) C     &ht LG(N9) R    &ht LG(N0) L   
                // ├───────────────┼──────────────────┼────────────────┼──────────────┼──────────────┤     ├──────────────┼──────────────┼────────────────┼───────────────┼──────────────┤
                    &lmt LSHFT A    &lmt LCTRL O        &lmt LALT E     &lmt LGUI U     &ht LG(TAB) I       &ht RA(UP) D   &rmt RGUI H    &rmt RALT T      &rmt RCTRL N    &rmt RSHFT S   
                // ├───────────────┼──────────────────┼────────────────┼──────────────┼──────────────┤     ├──────────────┼──────────────┼────────────────┼───────────────┼──────────────┤
                    &ht EXCL SEMI   &ht QMARK Q         &ht LPAR J      &ht RPAR K      &ht ESC X           &ht CAPS B     &ht MINUS M    &ht LT W         &ht LBRC V      &ht FSLH Z     
                // ╰───────────────┼──────────────────┼────────────────┼──────────────┼──────────────┤     ├──────────────┼──────────────┼────────────────┼───────────────┼──────────────╯
                                                        &ltd           &lt 3 BSPC      &lst 1 LSHFT         &lt 2 SPACE    &lt 4 TAB      &mo 5            
                //                                    ╰────────────────┴──────────────┴──────────────╯     ╰──────────────┴──────────────┴────────────────╯
            >;
        };
        
        nav-num {
            bindings = <
                // ╭───────────────────────────┬───────────────┬───────────────┬───────────────┬─────────╮     ╭───────────────┬───────────────┬───────────────┬───────────────┬──────────────╮
                    &trans                      &kp LA(LEFT)    &kp UP          &kp LA(RIGHT)   &trans          &kp COMMA       &kp N7          &kp N8          &kp N9          &kp N0         
                // ├───────────────────────────┼───────────────┼───────────────┼───────────────┼─────────┤     ├───────────────┼───────────────┼───────────────┼───────────────┼──────────────┤
                    &lmt LSHFT LC(LA(LG(V)))    &lmt LCTRL LEFT &lmt LALT DOWN  &lmt LGUI RIGHT &trans          &kp DOT         &rmt RGUI N4    &rmt RALT N5    &rmt RCTRL N6   &rmt RSHFT RET
                // ├───────────────────────────┼───────────────┼───────────────┼───────────────┼─────────┤     ├───────────────┼───────────────┼───────────────┼───────────────┼──────────────┤
                    &trans                      &kp LG(LBKT)    &trans          &kp LG(RBKT)    &trans          &kp LS(N8)      &kp N1          &kp N2          &kp N3          &trans         
                // ╰───────────────────────────┼───────────────┼───────────────┼───────────────┼─────────┤     ├───────────────┼───────────────┼───────────────┼───────────────┼──────────────╯
                                                                &trans          &trans          &trans          &kp SPACE       &kp N0          &trans                                         
                //                                             ╰───────────────┴───────────────┴─────────╯     ╰───────────────┴───────────────┴───────────────╯                               
            >;
        };
        
        nav-media {
            bindings = <
                // ╭───────────────────────────┬───────────────┬───────────────┬───────────────┬─────────╮     ╭───────────────┬───────────────────┬───────────────────┬───────────────────┬────────────────────╮
                    &trans                      &kp LA(LEFT)    &kp UP          &kp LA(RIGHT)   &trans          &kp C_RW        &kp C_PP            &kp C_FF            &kp C_PREV          &kp C_NEXT          
                // ├───────────────────────────┼───────────────┼───────────────┼───────────────┼─────────┤     ├───────────────┼───────────────────┼───────────────────┼───────────────────┼────────────────────┤
                    &lmt LSHFT LC(LA(LG(V)))    &lmt LCTRL LEFT &lmt LALT DOWN  &lmt LGUI RIGHT &trans          &kp C_MUTE      &rmt RGUI C_VOL_DN  &rmt RALT C_VOL_UP  &rmt RCTRL C_BRI_DN &rmt RSHFT C_BRI_UP  
                // ├───────────────────────────┼───────────────┼───────────────┼───────────────┼─────────┤     ├───────────────┼───────────────────┼───────────────────┼───────────────────┼────────────────────┤
                    &trans                      &kp LG(LBKT)    &trans          &kp LG(RBKT)    &trans          &trans          &trans              &trans              &trans              &trans               
                // ╰───────────────────────────┼───────────────┼───────────────┼───────────────┼─────────┤     ├───────────────┼───────────────────┼───────────────────┼───────────────────┼────────────────────╯
                                                                &trans          &trans          &trans          &trans          &trans              &trans                                                       
                //                                             ╰───────────────┴───────────────┴─────────╯     ╰───────────────┴───────────────────┴───────────────────╯                                         
            >;
        };
        
        command-symbol {
            bindings = < 
                // ╭───────────────────┬───────────────────┬───────────────┬───────────────┬─────────╮     ╭───────────────┬───────────────┬───────────────┬───────────────────┬────────────────────╮
                    &kp LG(Q)           &kp LG(W)           &kp LG(E)       &kp LG(R)       &kp LG(O)       &kp LPAR       &kp AMPS        &kp STAR        &kp GRAVE            &kp RPAR             
                // ├───────────────────┼───────────────────┼───────────────┼───────────────┼─────────┤     ├───────────────┼───────────────┼───────────────┼───────────────────┼────────────────────┤
                    &lmt LSHFT LG(A)    &lmt LCTRL LG(S)    &lmt LALT LG(D) &lmt LGUI LG(F) &kp LG(N)       &kp LBRC        &rmt RGUI DLLR  &rmt RALT PRCNT &rmt RCTRL CARET    &rmt RSHFT RBRC      
                // ├───────────────────┼───────────────────┼───────────────┼───────────────┼─────────┤     ├───────────────┼───────────────┼───────────────┼───────────────────┼────────────────────┤
                    &kp LG(Z)           &kp LG(X)           &kp LG(C)       &kp LG(V)       &kp LG(M)       &kp LBKT        &kp EXCL        &kp AT          &kp HASH            &kp RBKT             
                // ╰───────────────────┼───────────────────┼───────────────┼───────────────┼─────────┤     ├───────────────┼───────────────┼───────────────┼───────────────────┼────────────────────╯
                                                            &trans          &trans          &trans          &trans          &trans          &trans                                                   
                //                                         ╰───────────────┴───────────────┴─────────╯     ╰───────────────┴───────────────┴───────────────╯                                         
            >;
        };
        
        symbol-fuction {
            bindings = <
                // ╭───────────────────┬───────────────────┬───────────────┬───────────────────┬─────────────╮     ╭───────────────┬───────────────┬───────────────┬───────────────┬─────────────────╮
                    &kp LT              &kp PIPE            &kp BSLH        &kp FSLH            &kp GT              &trans          &kp F7          &kp F8          &kp F9          &kp F10           
                // ├───────────────────┼───────────────────┼───────────────┼───────────────────┼─────────────┤     ├───────────────┼───────────────┼───────────────┼───────────────┼─────────────────┤
                    &kp LA(LBKT)        &kp LA(LS(LBKT))    &kp LA(BSLH)    &kp LA(LS(BSLH))    &kp LA(LS(N2))      &trans          &rmt RGUI F4    &rmt RALT F5    &rmt RCTRL F6   &rmt  RSHFT F11   
                // ├───────────────────┼───────────────────┼───────────────┼───────────────────┼─────────────┤     ├───────────────┼───────────────┼───────────────┼───────────────┼─────────────────┤
                    &kp LA(LS(MINUS))   &kp LA(MINUS)       &kp MINUS       &kp PLUS            &kp EQUAL           &trans          &kp F1          &kp F2          &kp F3          &kp F12           
                // ╰───────────────────┼───────────────────┼───────────────┼───────────────────┼─────────────┤     ╰───────────────┼───────────────┼───────────────┼───────────────┼─────────────────┤
                                                            &trans          &trans              &trans              &trans          &trans          &trans                                            
                //                                         ╰───────────────┴───────────────────┴─────────────╯     ╰───────────────┴───────────────┴───────────────╯                                  
            >;
        };
        
        controller {
            bindings = <
                // ╭───────────┬───────────────┬───────────────┬───────────────┬─────────────╮     ╭───────────┬───────────────┬───────────────┬───────────────┬──────────────╮
                    &trans      &trans          &bootloader     &reset          &trans              &trans      &reset          &bootloader     &ext_power EXT_POWER_OFF_CMD          &ext_power EXT_POWER_ON_CMD
                // ├───────────┼───────────────┼───────────────┼───────────────┼─────────────┤     ├───────────┼───────────────┼───────────────┼───────────────┼──────────────┤
                    &bt BT_CLR  &bt BT_SEL 2    &bt BT_SEL 1    &bt BT_SEL 0    &trans              &trans      &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2    &bt BT_CLR     
                // ├───────────┼───────────────┼───────────────┼───────────────┼─────────────┤     ├───────────┼───────────────┼───────────────┼───────────────┼──────────────┤
                    &trans      &trans          &trans          &trans          &trans              &trans      &out OUT_TOG          &trans          &trans          &trans   
                // ╰───────────┼───────────────┼───────────────┼───────────────┼─────────────┤     ├───────────┼───────────────┼───────────────┼───────────────┼──────────────╯
                                                &trans          &trans          &trans              &trans      &trans          &trans                                         
                //                             ╰───────────────┴───────────────┴─────────────╯     ╰───────────┴───────────────┴───────────────╯                               
            >;
        };
    };
};