#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>

&sk {
    release-after-ms = <350>;
    quick-release;
    /delete-property/ ignore-modifiers;
};
&lt {
    quick-tap-ms = <200>;
};
&mmv {
    time-to-max-speed-ms = <1000>;
    acceleration-exponent=<1>;
};
&mwh {
    time-to-max-speed-ms = <2000>;
    acceleration-exponent=<1>;

};

/ {
    macros {
        ht: hold-tap {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD-TAP";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick_tap_ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
        // ch: clipboard-history {
        //     label = "CLIP-HISTORY";
        //     #binding-cells = <2>;
        //     tapping-term-ms = <150>;
        //     quick_tap_ms = <200>;
        //     flavor = "tap-preferred";
        //     bindings = 
        //         <&macro_press &kp LC(LA(LG(V)))>,
        //         <&macro_tap &kp D>,
        //         <&macro_release &kp LC(LA(LG(V)))>;
        // };
        rmt: right-mod-tap {
            compatible = "zmk,behavior-hold-tap";
            label = "RIGHT-MOD-TAP";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <120>;
            quick_tap_ms = <100>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24>;
        };
        lmt: left-mod-tap {
            compatible = "zmk,behavior-hold-tap";
            label = "LEFT-MOD-TAP";
            #binding-cells = <2>;
            tapping-term-ms = <120>;
            quick_tap_ms = <100>;
            flavor = "balanced";
            global-quick-tap;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 25 26 27 28 29>;
        };
        stl: shift-tap-left {
            compatible = "zmk,behavior-hold-tap";
            label = "SHIFT-TAP-LEFT";
            #binding-cells = <2>;
            tapping-term-ms = <120>;
            quick_tap_ms = <100>;
            flavor = "balanced";
            global-quick-tap;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 25 26 27 28 29>;
        };
        str: shift-tap-right {
            compatible = "zmk,behavior-hold-tap";
            label = "SHIFT-TAP-RIGHT";
            #binding-cells = <2>;
            tapping-term-ms = <120>;
            quick_tap_ms = <100>;
            flavor = "balanced";
            global-quick-tap;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24>;
        };
        lst: layer-shift-tap {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER-STICKY-TAP";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick_tap_ms = <100>;
            global-quick-tap;
            flavor = "tap-preferred"; 
            bindings = <&mo>, <&sk>;
        };        
        moh_7: moh_7 {
            label = "moh_7";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &mo 7>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        
        alpha-en {
            bindings = <
                // ╭───────────────┬──────────────────┬────────────────┬──────────────┬──────────────╮     ╭──────────────┬──────────────┬────────────────┬───────────────┬──────────────╮
                    &ht LG(N1) SQT  &ht LG(N2) COMMA    &ht LG(N3) DOT  &ht LG(N4) P    &ht LG(N5) Y        &ht LG(N6) F    &ht LG(N7) G    &ht LG(N8) C    &ht LG(N9) R    &ht LG(N0) L  
                // ├───────────────┼──────────────────┼────────────────┼──────────────┼──────────────┤     ├──────────────┼──────────────┼────────────────┼───────────────┼──────────────┤
                    &stl LSHFT A    &lmt LCTRL O        &lmt LALT E     &lmt LGUI U    &ht LC(LA(LG(V))) I  &ht LG(SPACE) D            &rmt RGUI H &rmt RALT T     &rmt RCTRL N    &str RSHFT S  
                // ├───────────────┼──────────────────┼────────────────┼──────────────┼──────────────┤     ├──────────────┼──────────────┼────────────────┼───────────────┼──────────────┤
                    &ht EXCL SEMI   &ht QMARK Q         &ht LPAR J      &ht RPAR K      &ht ESC X           &ht CAPS B      &ht MINUS M    &ht LBKT W       &ht LBRC V      &ht FSLH Z    
                // ╰───────────────┼──────────────────┼────────────────┼──────────────┼──────────────┤     ├──────────────┼──────────────┼────────────────┼───────────────┼──────────────╯
                                                        &lt 6 GRAVE     &lt 3 BSPC      &lst 1 LSHFT        &lt 2 SPACE     &lt 4 RET      &lt 5 TAB                                      
                //                                    ╰────────────────┴──────────────┴──────────────╯     ╰──────────────┴──────────────┴────────────────╯                               
            >
        };
        
        nav-num {
            bindings = <
                // ╭───────────────────┬───────────────┬───────────────┬───────────────┬─────────╮     ╭───────────────┬───────────────┬───────────────┬───────────────┬──────────────╮
                    &kp LA(UP)          &kp LA(LEFT)    &kp UP          &kp LA(RIGHT)   &trans          &kp COMMA       &kp N7          &kp N8          &kp N9          &kp N0         
                // ├───────────────────┼───────────────┼───────────────┼───────────────┼─────────┤     ├───────────────┼───────────────┼───────────────┼───────────────┼──────────────┤
                    &stl LSHFT LG(TAB)  &lmt LCTRL LEFT &lmt LALT DOWN  &lmt LGUI RIGHT &kp TAB         &kp DOT         &rmt RGUI N4    &rmt RALT N5    &rmt RCTRL N6   &trans         
                // ├───────────────────┼───────────────┼───────────────┼───────────────┼─────────┤     ├───────────────┼───────────────┼───────────────┼───────────────┼──────────────┤
                    &trans              &kp LG(LBKT)    &trans          &kp LG(RBKT)    &kp ESC         &kp LS(N8)      &kp N1          &kp N2          &kp N3          &trans         
                // ╰───────────────────┼───────────────┼───────────────┼───────────────┼─────────┤     ├───────────────┼───────────────┼───────────────┼───────────────┼──────────────╯
                                                        &trans          &trans          &trans          &kp SPACE       &kp RET         &kp BSPC                                       
                //                                     ╰───────────────┴───────────────┴─────────╯     ╰───────────────┴───────────────┴───────────────╯                               
            >;
        };
        
        nav-media {
            bindings = <
                // ╭───────────────────┬───────────────┬───────────────┬───────────────┬─────────╮     ╭───────────────┬───────────────────┬───────────────────┬───────────────────┬────────────────────╮
                    &kp LA(UP)          &kp LA(LEFT)    &kp UP          &kp LA(RIGHT)   &trans          &kp INS         &kp C_PREV            &kp C_PP          &kp C_NEXT          &kp DEL              
                // ├───────────────────┼───────────────┼───────────────┼───────────────┼─────────┤     ├───────────────┼───────────────────┼───────────────────┼───────────────────┼────────────────────┤
                    &stl LSHFT LG(TAB)  &lmt LCTRL LEFT &lmt LALT DOWN  &lmt LGUI RIGHT &kp TAB         &kp HOME        &rmt RGUI C_VOL_DN  &rmt RALT C_MUTE    &rmt RCTRL C_VOL_UP &kp END              
                // ├───────────────────┼───────────────┼───────────────┼───────────────┼─────────┤     ├───────────────┼───────────────────┼───────────────────┼───────────────────┼────────────────────┤
                    &trans              &kp LG(LBKT)    &trans          &kp LG(RBKT)    &kp ESC         &kp PG_UP       &kp C_BRI_DN        &trans              &kp C_BRI_UP        &kp PG_DN            
                // ╰───────────────────┼───────────────┼───────────────┼───────────────┼─────────┤     ├───────────────┼───────────────────┼───────────────────┼───────────────────┼────────────────────╯
                                                        &kp BSPC        &kp RET         &kp SPACE       &trans          &trans              &trans                                                       
                //                                     ╰───────────────┴───────────────┴─────────╯     ╰───────────────┴───────────────────┴───────────────────╯                                         
            >;
        };
        
        command-symbol {
            bindings = < 
                // ╭───────────────────┬───────────────────┬───────────────┬───────────────┬─────────╮     ╭───────────────┬───────────────┬───────────────┬───────────────────┬────────────────────╮
                    &kp LG(Q)           &kp LG(W)           &kp LG(E)       &kp LG(R)       &kp LG(O)       &kp LPAR       &kp AMPS        &kp STAR        &kp GRAVE            &kp RPAR             
                // ├───────────────────┼───────────────────┼───────────────┼───────────────┼─────────┤     ├───────────────┼───────────────┼───────────────┼───────────────────┼────────────────────┤
                    &stl LSHFT LG(A)    &lmt LCTRL LG(S)    &lmt LALT LG(D) &lmt LGUI LG(F) &kp LG(N)       &kp LBRC        &rmt RGUI DLLR  &rmt RALT PRCNT &rmt RCTRL CARET    &str RSHFT RBRC      
                // ├───────────────────┼───────────────────┼───────────────┼───────────────┼─────────┤     ├───────────────┼───────────────┼───────────────┼───────────────────┼────────────────────┤
                    &kp LG(Z)           &kp LG(X)           &kp LG(C)       &kp LG(V)       &kp LG(M)       &kp LBKT        &kp EXCL        &kp AT          &kp HASH            &kp RBKT             
                // ╰───────────────────┼───────────────────┼───────────────┼───────────────┼─────────┤     ├───────────────┼───────────────┼───────────────┼───────────────────┼────────────────────╯
                                                            &trans          &trans          &trans          &kp SPACE       &kp RET         &kp BSPC                                                 
                //                                         ╰───────────────┴───────────────┴─────────╯     ╰───────────────┴───────────────┴───────────────╯                                         
            >;
        };
        
        symbol-fuction {
            bindings = <
                // ╭───────────────────┬───────────────────┬───────────────┬───────────────────┬─────────────╮     ╭───────────────┬───────────────┬───────────────┬───────────────┬─────────────────╮
                    &kp LT              &kp PIPE            &kp BSLH        &kp FSLH            &kp GT              &kp PSCRN       &kp F7          &kp F8          &kp F9          &kp F10           
                // ├───────────────────┼───────────────────┼───────────────┼───────────────────┼─────────────┤     ├───────────────┼───────────────┼───────────────┼───────────────┼─────────────────┤
                    &stl LSHFT LA(LBKT) &kp LA(LS(LBKT))    &kp LA(BSLH)    &kp LA(LS(BSLH))    &kp LA(LS(RBKT))    &kp SLCK        &rmt RGUI F4    &rmt RALT F5    &rmt RCTRL F6   &str  RSHFT F11   
                // ├───────────────────┼───────────────────┼───────────────┼───────────────────┼─────────────┤     ├───────────────┼───────────────┼───────────────┼───────────────┼─────────────────┤
                    &kp LA(LS(MINUS))   &kp LA(MINUS)       &kp MINUS       &kp EQUAL           &kp PLUS            &kp PAUSE_BREAK &kp F1          &kp F2          &kp F3          &kp F12           
                // ╰───────────────────┼───────────────────┼───────────────┼───────────────────┼─────────────┤     ╰───────────────┼───────────────┼───────────────┼───────────────┼─────────────────┤
                                                            &kp BSPC        &kp RET             &kp SPACE           &trans          &trans          &trans                                            
                //                                         ╰───────────────┴───────────────────┴─────────────╯     ╰───────────────┴───────────────┴───────────────╯                                  
            >;
        };
        
        controller-modes {
            bindings = <
                // ╭───────────┬───────────────┬───────────────┬───────────────┬─────────────╮     ╭───────────┬───────────────┬───────────────┬───────────────┬──────────────╮
                    &bootloader &trans          &trans          &reset          &trans              &trans      &reset          &trans          &trans          &bootloader
                // ├───────────┼───────────────┼───────────────┼───────────────┼─────────────┤     ├───────────┼───────────────┼───────────────┼───────────────┼──────────────┤
                    &bt BT_SEL 3  &bt BT_SEL 2  &bt BT_SEL 1    &bt BT_SEL 0    &bt BT_CLR          &bt BT_CLR  &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2    &bt BT_SEL 3   
                // ├───────────┼───────────────┼───────────────┼───────────────┼─────────────┤     ├───────────┼───────────────┼───────────────┼───────────────┼──────────────┤
                    &trans      &trans          &trans          &trans          &trans              &trans      &out OUT_TOG    &trans          &trans          &trans         
                // ╰───────────┼───────────────┼───────────────┼───────────────┼─────────────┤     ├───────────┼───────────────┼───────────────┼───────────────┼──────────────╯
                                                &trans          &trans          &trans              &trans          &trans          &trans                                     
                //                             ╰───────────────┴───────────────┴─────────────╯     ╰───────────┴───────────────┴───────────────╯                               
            >;
        };

        // not in use
        blank {
            bindings = <
                // ╭───────────┬───────────┬───────────┬───────────┬─────────────╮     ╭───────────┬───────────┬───────────┬───────────┬──────────────╮
                    &trans      &trans      &trans      &trans      &trans              &trans      &trans      &trans      &trans      &trans         
                // ├───────────┬───────────┬───────────┬───────────┬─────────────┤     ├───────────┬───────────┬───────────┬───────────┬──────────────┤
                    &trans      &trans      &trans      &trans      &trans              &trans      &trans      &trans      &trans      &trans         
                // ├───────────┬───────────┬───────────┬───────────┬─────────────┤     ├───────────┬───────────┬───────────┬───────────┬──────────────┤
                    &trans      &trans      &trans      &trans      &trans              &trans      &trans      &trans      &trans      &trans         
                // ╰───────────┴───────────┬───────────┬───────────┬─────────────┤     ├───────────┬───────────┬───────────┴───────────┴──────────────╯
                                            &trans      &trans      &trans              &trans      &trans      &trans                                 
                //                         ╰───────────┴─────── ───┴─────────────╯     ╰───────────┴───────────┴───────────╯                           
            >;
        };
    };
};